<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>CUD学習ツール</title>
</head>
<style type="text/css">
  body{
    font-size: 1.5rem;
  }
  #link{
    border: 2px solid;
    border-color:#c8c8c8;
    font-size: 1.75rem;
    width: <%= 1.75*25 %>rem;
  }
</style>
<body>
  <p>トップページ</p>
  <hr>
  <h1>CUD学習ツール</h1>

  <div id="link">
    <p>1部：文字の強調<br>[ 
    <a href="/question/1/0">1.配色</a> → 
    2.文字フォント → 3.装飾 ]
    </p>
    <p>2部：色の組み合わせ<br>[ 
    <a href="/question/4/FF0000/0">1.色相</a> → 
    <a href="/question/5/31FC31">2.明度</a> → 
    <a href="/question/6/FFBFC0">3.彩度</a> ]
    </p>
    <p>3部：グラフ<br>[ 
    <a href="/question/7">1.配色</a> → 
    2.色以外での区別 → 3.項目名の書き方 ]
    </p>
  </div>
  
</body>
</html>