<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>CUD学習ツール</title>
</head>
<style type="text/css">
#link{
  border: 2px solid;
  border-color:#c8c8c8;
  font-size: 1.75rem;
  width: <%= 1.75*10 %>rem;
}
</style>
<body>
  <h1>CUD学習ツール</h1>

  <div id="link">
    <a href="/question/1/0">1部：文字の強調</a>
    <br>
    <a href="/question/4/FF0000/0">2部：色の組み合わせ</a>
    <br>
    <a href="/question/7">3部：グラフ</a>
  </div>
  
</body>
</html>